MYSQL_USER=magento
MYSQL_PASS=magento
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=magento

API_USER=admin
API_PASS=secret
AUTH_TYPE=basic

PORT=8080
RUST_LOG=info
PRODUCT_FLAT_CACHE=off

MAGENTO_CRYPT_KEY=
